#categories {
  margin-top: -80px;
  .category__card {
    position: relative;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h2,
    p {
      position: absolute;
      z-index: 1;
      left: 20px;
    }
    h2 {
      bottom: 60px;
    }
    p {
      color: #ffffff;
      bottom: 20px;
      width: 70%;
    }
  }
}

@media only screen and (max-width: 992px) {
  #categories {
    margin-top: 50px;
    .category__card {
      margin-top: 50px;
      h2 {
        bottom: 100px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #categories {
    margin-top: 50px;
    .category__card {
      margin-top: 50px;
      h2 {
        bottom: 60px;
      }
    }
  }
}
