#my__profile {
  .profile__container {
    margin: 150px auto;
    width: 400px;
    text-align: center;
    padding: 50px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    img {
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      height: 85px;
      width: 85px;
      border-radius: 50%;
    }
    h4 {
      margin: 15px 0;
      font-size: 20px;
    }
    p {
      font-size: 26px;
      margin-bottom: 15px;
      font-weight: 300;
    }
  }
}
