#principal {
  margin-top: 100px;
  .principal__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .principal__image {
      width: 450px;
      img {
        height: 570px;
        width: 100%;
        object-fit: cover;
      }
    }
    .principal__content {
      margin-left: 50px;
      width: 600px;
      button {
        margin-top: 20px;
        &:hover {
          color: #1e88e5;
        }
      }
    }
  }
}
