#principal {
  margin-top: 100px;
  .principal__container {
    .principal__image {
      img {
        height: 570px;
        width: 100%;
        object-fit: cover;
      }
    }
    .principal__content {
      button {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #principal {
    .principal__container {
      .principal__image {
        margin: 0 auto;
        text-align: center;
        img {
          width: 80%;
        }
      }
      .principal__content {
        text-align: center;
      }
    }
  }
}
