#all__courses {
  margin-top: 100px;
  .all__courses__container {
    margin-top: 100px;
    .course__card {
      position: relative;
      cursor: pointer;
      border-radius: 7px;
      overflow: hidden;
      background-color: #04d2c8;
      margin: 0 10px;
      color: #fff;
      text-align: center;
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
      h6 {
        padding: 0rem 0.4375rem;
        position: absolute;
        left: 0.625rem;
        top: 0.625rem;
        line-height: 1.45;
        color: #fff;
        background-color: #ff9900;
        border-radius: 0.3125rem;
      }
      h4 {
        margin: 20px 0 10px 0;
      }
      h5 {
        margin: 0 0 40px 0;
      }
    }
  }
}
