#place__order {
  .place__order__header {
    height: 300px;
    width: 100%;
    background: url('../../../images/place-order-bg.jpg') no-repeat center / cover;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #ffffff;
    }
  }

  .place__order__form {
    margin: 100px auto;

    .place__stripe {
      width: 90%;
      margin: 0 auto;
      padding: 50px;
      background-color: #ffffff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 10px;
    }
  }
}
