#my__course {
  .placeholder__text {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      background: #dddddd73;
      color: #a6a2a2;
      padding: 30px;
      line-height: 42px;
      border-radius: 10px;
      text-align: center;
      font-size: 50px;
    }
  }
  .course__container {
    margin: 50px auto;
    .order__card {
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      background: #dddddd73;

      .order__banner {
        border-radius: 10px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        height: 150px;
        h3 {
          color: #a6a2a2;
          text-align: center;
        }
      }

      .main__button {
        width: 130px;
        margin-top: 20px;
        border-radius: 20px;
        padding: 0;
        font-size: 22px;
      }
    }
  }
}
