#hero__slider {
  .slick-slider {
    .slick-dots {
      bottom: 30px;
      li {
        margin: 0;
        button {
          &::before {
            font-size: 12px;
            width: 30px;
            height: 30px;
            opacity: 0.25;
            color: #ffffff;
          }
        }
      }
    }

    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #ffffff;
    }

    .slick-next,
    .slick-prev {
      position: absolute;
      top: 50%;
      border: 2px solid #ffffff;
      height: 40px;
      width: 40px;
      border-radius: 6px;
      z-index: 9;
      transition: all linear 0.3s;
      &::before {
        transition: all linear 0.3s;
        color: #ffffff;
        opacity: 0.9;
      }
      &:hover {
        border: 2px solid #0074b7;
        &::before {
          color: #0074b7;
        }
      }
    }

    .slick-next {
      right: 40px;
    }

    .slick-prev {
      left: 40px;
    }

    .slick-list {
      .hero__slide {
        height: 700px !important;
        height: 100%;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        h2 {
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 35px;
            margin: 0 10px;
          }
        }
        h1 {
          margin: 20px 0;
          color: #ffffff;
          font-size: 50px;
          text-align: center;
          strong {
            font-size: 60px;
            color: #0074b7;
          }
        }
        p {
          color: #e9d2d2;
          line-height: 32px;
          font-size: 26px;
          width: 370px;
          margin: 0 auto;
          text-align: center;
          strong {
            margin: 0 10px;
            color: #ffffff;
          }
        }
        button {
          margin-top: 20px;
          &:hover {
            color: #ffffff;
          }
        }
      }
      .one {
        background: url('../../../images/slide1.jpg') no-repeat center / cover;
      }
      .two {
        background: url('../../../images/slide2.jpg') no-repeat center / cover;
      }
      .three {
        background: url('../../../images/slide3.jpg') no-repeat center / cover;
      }
    }
  }
}
