#course__content {
  h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    line-height: 50px;
    span {
      color: #00938d;
      font-size: 80px;
      font-weight: 500;
    }
  }
  h3 {
    margin: 50px 0;
  }

  p {
    font-size: 25px;
    margin-top: 20px;
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}
