#navigation {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-family: 'Concert One', cursive;
  }

  #basic-navbar-nav {
    .navbar-nav {
      .nav-link {
        color: #fff;
        margin-left: 30px;
        padding: 0;
        font-size: 25px;
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  #navigation {
    .navbar-toggler {
      &:focus {
        box-shadow: none;
      }
    }

    #basic-navbar-nav {
      .navbar-nav {
        padding: 15px 0;
        text-align: center;
        background-color: #fff;
        .nav-link {
          color: #000;
          margin-top: 10px;
          margin-left: 0;
          &:nth-child(1) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
