#all__teachers {
  margin-top: 100px;
  .all__teachers__container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 30px 20px;
    .teacher__card {
      background-color: #ffffff;
      border: 1px solid #eaedf2;
      border-radius: 7px;
      margin-bottom: 30px;
      position: relative;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      box-shadow: 0 0 13px #0000001a;
      overflow: hidden;
      .teacher__image {
        height: 270px;
        width: 100%;
        position: relative;
        &::after {
          position: absolute;
          background-color: #000000;
          opacity: 0.4;
          content: '';
          top: 0;
          height: 100%;
          width: 100%;
          left: 0;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .teacher__card__content {
        padding: 20px;
        width: 100%;
        h5 {
          font-family: 'Poppins', sans-serif;
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 600;
          word-wrap: break-word;
          overflow: hidden;
          color: #333333;
          margin-bottom: 10px;
        }
        h6 {
          font-family: 'Poppins', sans-serif;
          font-size: 15px;
          color: #767676;
          margin-bottom: 10px;
        }
        p {
          font-size: 22px;
          color: #767676;
        }
      }
    }
  }
}
